<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link  rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
    <link href="~/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container allBody">
        <div class="jumbotron">
            <div class="jumboInside">
                <h1 id="logo"> Gummi Bear Kingdom</h1>
                <h2 class="underLogo">Where Sweets Rule</h2>
                <hr />
                <h4>@Html.ActionLink("Home", "Index", "Home", null)</h4>
            </div>
        </div>
        
        <div >
            @RenderBody()
        </div>
    </div>
</body>
</html>
