<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link  rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 id="logo">Gummi Bear Kingdom</h1>
            <h3>Where Sweets Rule</h3>
        </div>    
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
