@model Gummi.Models.Product

@{
    ViewData["Title"] = "Create New Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="headStuff">
    <h3>Create a New Product</h3>
    <form method="post" asp-action="Create" asp-controller="Products" enctype="multipart/form-data">
        <label for="name">Product Name</label>
        <input type="text" id="name" name="name" required />
        <br />
        <label for="price">Price</label>
        <input type="number" step="0.01" id="price" name="price" required />
        <br />
        <label for="origin">Origin</label>
        <input type="text" id="origin" name="origin" required />
        <br />
        <div class="centerIt">
            <label for="image">Image</label>
            <input type="file" id="image" name="image" />
        </div>
        <br />
        <button class="btn waves-effect" type="submit">Create</button>

        </form>

        <hr />

        <p>@Html.ActionLink("Back to Product List", "Index")</p>
</div>
