@{ 
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="headStuff">Welcome to the Sweetest Kingdom there is!</h3>
<hr/>

<h3 class="headStuff">Check out our @Html.ActionLink("Products", "Index", "Products", null)!</h3>