@model Gummi.Models.Product

@{
    ViewData["Title"] = "Delete Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Are you sure you want to Delete @Html.DisplayFor(model => model.Name)?</h3>

@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
}
<hr />

<p>@Html.ActionLink("Back to Product Details", "Details", new { id = Model.ProductId })</p>
<p>@Html.ActionLink("Back to Product List", "Index")</p>


