@{ 
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Gummi.Models.Product>

<h2 class="headStuff">Gummi Bear Kingdom's</h3class="headStuff">
<h2 class="headStuff">Sweet Subjects</h2>

    <div class="headStuff">
        @foreach (var prod in Model)
        {
            <h4>@Html.ActionLink(prod.Name, "Details", new { id = prod.ProductId })</h4>
        }

        <hr/>
        <h5>@Html.ActionLink("Create New Product", "Create")</h5>
    </div>